<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title}">Information</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/login.css}" href="../public/css/login.css" rel="stylesheet">

    <script src="../public/lib/angular.min.js"></script>
</head>
<body>



<div class="container">
    <h1 class="text-center" th:text="${information}">Info text</h1>
    <div class="text-center">
    <a th:href="@{/}" href="/"><button class="btn btn-primary btn-lg">Back to Homepage</button></a>
    </div>
</div>

<script th:src="@{/js/register.js}" src="../public/js/register.js"></script>
</body>
</html>