<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../public/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>



    <script type = "text/javascript" th:src = "@{/js/job.js}" src = "../public/js/job.js"></script>
    <script type = "text/javascript" th:src = "@{/lib/jquery.min.js}" src = "../public/lib/jquery.min.js"></script>
    <script type = "text/javascript" th:src = "@{/libs/bootstrap.min.js}" src = "../public/lib/bootstrap.min.js"></script>
    <script type = "text/javascript" th:src = "@{/libs/jquery.validate.min.js}" src ="../public/lib/jquery.validate.min.js"></script>
</body>
</html>